#media-library .media-frame {
	position: fixed;
	top: 32px;
	left: 160px;
	right: 0;
	bottom: 40px;
}

.folded #media-library .media-frame {
	left: 36px;
}

@media screen and (max-width: 782px) {
	.auto-fold #media-library .media-frame {
		left: 0px;
		bottom: 0px;
	}
}

/* Thumbnail Size Selector */
.size-options {
	display: inline-block;
}

.size-options li {
	background: rgba(242, 242, 242, 0.8);
	border-radius: 3px;
	border: 1px solid rgba(242, 242, 242, 1);
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
}

.size-options li:hover {
	background: rgba(0,0,0,0.1);
}

.size-options .current,
.size-options .current:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
	cursor: default;
}