/**
 * Position both the frame and the uploader window into the content
 * area of the screen.
 */
#media-library .media-frame,
#media-library .uploader-window {
	position: fixed;
	bottom: 40px;
	left: 160px;
	right: 0;
	top: 32px;
}

.folded #media-library .media-frame {
	left: 36px;
}

@media screen and (max-width: 782px) {
	.auto-fold #media-library .media-frame {
		left: 0px;
		bottom: 0px;
	}
}

/* Thumbnail Size Selector */
.size-options {
	display: inline-block;
}

.size-options li {
	background: rgba(242, 242, 242, 0.8);
	border-radius: 3px;
	border: 1px solid rgba(242, 242, 242, 1);
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
}

.size-options li:hover {
	background: rgba(0,0,0,0.1);
}

.size-options .current,
.size-options .current:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
	cursor: default;
}

#media-library .media-selection {
	position: static;
}
#media-library .attachments-browser .media-selection {
	height: auto;
}
#media-library .attachments-browser .media-selection .selection-view {
	display: block;
}
#media-library .attachments-browser .media-selection .attachments {
	position: static;
	height: auto;
}

/**
 * Reset the colors for the sidebar `clear selection` button.
 */
.media-selection .selection-info .clear-selection {
	color: #21759B;
}
.media-selection .selection-info .clear-selection:hover {
	background: #21759B;
	color: #fff;
	border-color: transparent;	
}

.media-selection .selection-info .delete-selection {
	color: red;
}
.media-selection .selection-info .delete-selection:hover {
	background: red;
}

/**
 * For bulk editing, make any selected attachment look the same
 * as any other selected attachment.
 *
 * Bulk edit mode shouldn't highlight the currently/last selected
 * attachment.
 * 
 */
.media-selection .attachment.selection.details {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.selected.attachment {
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1e8cbe;
	        box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1e8cbe;
}

.attachment.selected .check {
	background-color: #1e8cbe;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
	        box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
}

.attachment.selected .check div {
	background-position: -21px 0;
}
.attachment.selected .check:hover div {
	background-position: -60px 0;
}