/* Your fancy styles go here... */
#media-library {
	position: relative;
}
body.blurred {
	overflow: hidden;
}
body.blurred #media-library > h2,
body.blurred #media-library .media-nav,
body.blurred #media-library #add-media,
body.blurred #media-library #selected-media-details,
body.blurred #media-library .media-grid {
	/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	*/
	opacity: 0;
	pointer-events: none;
}

#media-library > h2,
#media-library .media-nav,
#media-library #add-media,
#media-library #selected-media-details,
#media-library .media-grid {
	transition: opacity 0.2s ease-in-out;
}

#media-library ul.media-nav li.media-select-all {
	float: right;
	margin: 5px 15px 0 5px;
	width: 7em;
}
#total-view-items  {
	padding: 10px 0 0 0;
}
#total-items {
	float: left;
	color: #999;
	font-size: 10px;
}
#total-items span {
	font-size: 13px;
	margin-right: 2px;
}
#view-items {
	float: left;
	color: #999;
}
#view-items span{
	font-size: 10px;
	margin-left: 1px;
}
#view-items:before {
	content: "\f139";
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	vertical-align: middle;
	position: relative;
		top: -2px;
}
#media-list-button {
	font-size: 13px;
	margin-left: 10px;
}
#media-list-button:before {
	content: '\f163';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
		top: -2px;
}



ul.media-nav {
	/*
	position: absolute;
		top: 0;
		right: 0;
	*/	
	overflow: hidden;
	margin: 0
}
	ul.media-nav li {
		display: inline-block;
		margin-right: 10px;
	}
	ul.media-nav li:last-child {
		margin: 0 0 0 35px;
	}
	ul.media-nav a {}
	ul.media-nav .count {
		display: none;
		padding: 2px 8px;
		border-radius: 20px;
		background: #aaa;
		color: #fff;
		font-size: 12px;
		margin-left: 5px;
	}
	ul.media-nav a.current {
		color: #222;
		font-weight: bold;
	}

.thumbnail-size {
	float: right;
	position: relative;
	top: 5px;
}

.live-search {
	float: right;
	margin-right: 10px;
}

.more-media {
	visibility: hidden;
}

.media-grid {
	margin: 30px 0 200px 0;
	list-style: none;
}
.media-grid:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#add-media {
	display: none;
	width: 222px;
	padding: 0 30px;
	position: fixed;
		top: 80px;
		right: 20px;
	z-index: 20;
	border: 4px dashed #aaa;
	border-radius: 4px;
}

#selected-media-details {
	display: none;
	margin: 0;
	padding: 0 30px;
	position: fixed;
		right: 40px;
		left: 180px;
		bottom: 25px;
	z-index: 20;
	border: 2px solid #444;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(34, 34, 34, 0.9);
}
	.selected-meta {
		width: 400px;
		margin: 0 auto;
		overflow: hidden;
	}
	#selected-media-details button.bttn_clear_all {
		cursor: pointer;
		color: #e9e9e9;
		font-size: 9px;
		text-align: center;
		//padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(1,1,1,.3);
		outline: none;
		border: solid 1px #555;
		-moz-border-radius: .4em;
		-webkit-border-radius: .4em;
		border-radius: .4em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		background: #616161;
		background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
		background: -moz-linear-gradient(top,  #888,  #575757);
		//filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	}
		#selected-media-details button.bttn_clear_all:hover {
			box-shadow: inset 0 1px 2px rgba(0,173,238,0.3);
			background: #616161;
			background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
		}
	#selected-media-details h2 {
		color: #ccc;
	}
	#selected-media-details h2.selected-count {
		float: left;
		font-size: 13px;
		font-weight: 300;
		margin: 0;
		padding: 15px 0 10px 0;
		line-height: 1;
	}

	.selected-media-options {
		float: left;
		margin: 0;
		padding: 13px 0 12px 0;
		line-height: 1;
		font-size: 12px;
	}
		.selected-media-options li {
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 0;
			vertical-align: bottom;
		}
	.selected-media-options.inactive a {
		color: #aaa;
		text-decoration: none;
		cursor: pointer;
		height: 16px;
		overflow: hidden;
	}
	.selected-media-options.active {}

	.selected-media {
		clear: both;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		min-height: 50px;
	}
	
	.selected-media:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
		.selected-media > li {
			float: left;
			margin: 0 5px 5px 0;
			padding: 0px;
			/*height: 45px;
			width: 45px;*/
			text-align: center;
			/*border: 1px solid rgba(0,0,0,0.2);*/
			background: rgba(204,204,204,0.3); 
			overflow: hidden;
		}
		.selected-media img {
			display: inline-block;
			max-height: 45px;
			max-width: 65px;
		}
		.selected-media .media-tags {
			display: none;
		}
		.selected-media h3 {
			display: none;
		}
		.selected-media .media-options {
			display: none;
		}



.media-item {
	margin: 0 5px 20px 5px;
	width: 200px;
	height: 200px;
	display: inline-block;
	padding-bottom: 35px;
	text-align: center;
	position: relative;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
	.media-thumb {
		margin: 0 auto;
		height: 180px;
		width: 180px;
		padding: 5px;
		border-radius: 5px;
		position: relative;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
		cursor: pointer;
	}
		.media-thumb img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: 1px solid rgba(255,255,255,0.1);
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			transition: all 0.2s linear;
		}
		.media-thumb img.default {
			max-height: 180px;
			max-width: 180px;
		}
	.media-details {
		position: absolute;
			right: 10px;
			bottom: 5px;
			left: 10px;
		z-index: 10;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
		.media-details img {
			display: none;
		}
		.media-details h3 {
			max-width: 80%;
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
			margin: 10px 0 0 0;
			padding: 5px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border-radius: 30px;
			cursor: default;
		}
		.media-details h3:hover {
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
		}
		.media-details .media-meta,
		.media-details .media-tags {
			display: none;
		}


.media-item:hover,
.media-item.selected:hover {
}
	.media-item:hover .media-options {
		opacity: 1;
	}

.media-item:hover {}
	.media-item:hover .media-thumb {
		background: rgba(0,0,0,0.1);
	}
	.media-item:hover .media-details h3 {
		background: rgba(0,0,0,0.6);
		color: #fff;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05); 
		//opacity: 0.1;
	}
.media-item.selected {
}
	.media-item.selected .media-thumb {
		/* box-shadow: 0 0 0 2px rgba(0,0,0,0.25); */
		/* box-shadow: 0 0 0 2px #0074A2; */
		background: rgba(0,0,0,0.1);
	}
		.media-item.selected .media-thumb img {
			box-shadow: 0 0 0 1px rgba(255,255,255,0.9);
		}
	.media-item.selected .media-details h3 {
		/* background: rgba(0,0,0,0.25); */
		background: #0074A2;
		color: #fff;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
	}
	.media-item.selected .media-options {
		opacity: 1;
		background: #0074A2;
	}
		.media-item.selected .media-options a {
			color: #fff;
		}


.media-options {
	margin: 0;
	padding: 3px 8px;
	opacity: 0;
	list-style: none;
	position: absolute;
		right: 5px;
		bottom: 45px;
		left: 5px;
	z-index: 20;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.6);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: default;
}
.media-options:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
	.media-options li {
		float: right;
		margin: 0 0 0 5px;
		position: relative;
		line-height: 40px;
	}
	.media-options li.media-select {
		float: left;
		margin: 0 5px 0 0;
	}
		.media-options li.media-select input[type=checkbox] {
			border: 1px solid rgba(0,0,0,0.6) !important;
			box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
			height: 20px;
			width: 20px;
			padding: 4px !important;
		}
	.media-options a.media-edit {
		color: #fff;
		padding: 5px 10px;
		/*border-left: 1px dotted rgba(255,255,255,0.3);*/
	}
	.media-options a.media-edit:before {
		content: '\f111';
		color: #fff;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 16px/1 'dashicons';
		vertical-align: middle;
		position: relative;
			top: -2px;
		padding: 0 5px 0 0;
	}
	.media-options a.media-delete {
		color: #fff;
		padding: 3px 3px;
		border-left: 1px dotted rgba(255,255,255,0.3);
	}
	.media-options a.media-delete:before {
		content: '\f182';
		color: #fff;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 16px/1 'dashicons';
		vertical-align: middle;
		position: relative;
			top: -2px;
		padding: 0 5px 0 0;
	}

#media-modal {
	display: none;
	position: fixed;
	top: 52px;
	left: 150px;
	right: 20px;
	bottom: 20px;
	/* background: rgba(238, 238, 238, 0.98); */
	/* background: #777; */
	/* box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3); */
	z-index: 30;
	overflow: auto;
}

#media-modal .modal-actions {
	position: absolute;
		top: 0;
		right: 0;
		left: 0;
	z-index: 80;
	height: 40px;
	background: rgba(243, 243, 243, 0.85);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	#media-modal .modal-actions .button-secondary {
		margin: 6px 0 6px 6px;
		float: left;
	}
	#media-modal .close-button {
		float: right;
		box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
		padding: 0 10px;
		cursor: pointer;
	}
	#media-modal .close-button:before {
		content: '\f158';
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 32px/1 'dashicons';
		vertical-align: top;
		line-height: 40px;
	}
	#media-modal .close-button:hover {
		background: rgba(0,0,0,0.2);
		color: #fff;
	}
		#media-modal .close-button b {
			display: none;
		}

#media-modal.comparing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}
	#media-modal.comparing .modal-details {
		display: none;
	}
	#media-modal.comparing .compare-items {
		width: 100%;
		right: 0;
	}
		#media-modal.comparing .compare-items li {
			float: left;
			position: relative;
			height: 100%;
		}
		#media-modal.comparing .compare-items img {
			margin: auto;
		}

.modal-sidebar {
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	width: 28%;
	margin: 0;
	padding: 55px 20px 20px 20px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-details {
	overflow: auto;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 65px;
		left: 0;
	padding: 50px 20px 10px 20px;
}
	.modal-details h3 {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.5;
		margin: 0;
	}
	.modal-details dl {
		margin: 0;
	}
	.modal-details dt {
		font-weight: bold;
		margin: 0 0 4px 0;
	}
	.modal-details dd {
		margin: 0 0 15px 0;
	}

.modal-nav {
	position: absolute;
		left: 10px;
		right: 10px;
		bottom: 10px;
	background: rgba( 255, 255, 255, 0.95 );
	margin: 0;
}
	.modal-nav li {
		margin: 0;
	}
	.modal-nav img {
		display: block;
		height: 75px;
		width: 75px;
	}
	.modal-nav .nav-prev {
		float: left;
	}
	.modal-nav .nav-next {
		float: right;
	}

dt.photo-rating {
	display: none;
}
dd.photo-rating {}

dt.photo-uploader {}
dd.photo-uploader {
	line-height: 32px;
}
	dd.photo-uploader img {
		border-radius: 100%;
		height: 32px;
		width: 32px;
		float: left;
		margin: 0 10px 0 0;
	}

.compare-items {
	position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;
	margin: auto;
	width: 72%;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.compare-items li {}
	.compare-items img {
		display: block;
		margin: auto;
		max-height: 100%;
		max-width: 94%;
		position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		margin: auto;
		border: 1px solid rgba(0,0,0,0.3);
	}

.star-rating {
	list-style: none;
	margin: 0;
}
.star-rating:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	.star-rating .star {
		float: left;
		padding: 5px 2px 5px 0;
	}
	.star-rating .star:before {
		content: '\f154';
		color: rgba(0,0,0,0.15);
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font: normal 20px/1 'dashicons';
		vertical-align: top;
	}
	.star-rating .star:hover:before,
	.star-rating .star.hover:before {
		content: '\f155';
		color: #fd9228;
		text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	}
		.star-rating .star b {
			display: none;
		}
#media-overlay {
	position: fixed;
    top: 200px;
    left: 180px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
#message {
	display: none;
}